<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <title>Mailbox / Matches</title>

  <script type="text/javascript">
  $( document ).ready(function() {
    $(".tab2").addClass('is-active');
  });
  </script>

</head>

<body>
  <section>
    <div class="container">
      <h1 class="title">Mailbox</h1>
      <div class="columns">
        <div class="column">
          <% @conversations.each do |conversation| %>
          <% if conversation.sender_id == current_user.id || conversation.recipient_id == current_user.id %>
          <% if conversation.sender_id == current_user.id %>
          <div class="notification is-info">
            <% recipient = User.find(conversation.recipient_id) %>
            <%= link_to recipient.name, conversation_messages_path(conversation)%>
          </div>
          <% else %>
          <div class="notification is-info">
          <% recipient = User.find(conversation.sender_id) %>
          <%= link_to recipient.name, conversation_messages_path(conversation)%>
        </div>
        <% end %>
          <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <h1 class="title">Your Matches!!</h1>
    <div class="columns">
      <div class="column">
        <% @items.each do |item| %>
        <strong><%=item.name + ": "%></strong>
        <%matches = item.get_all_item_matches%>
        <%matches.each do |match|%>
        <%user = User.find(match.user_id) %>
        <div class="notification is-success">
          <div class="media">
            <div class="media-left">
              <img class="image is-64x64" src='<%=match.url%>' alt="Image">
            </div>
            <div class="media-left">
              <p>
                <strong><%= user.name %></strong>
                <br>
                <%=match.name%>
              </p>
            </div>
            <div class="media-left">
              <%= link_to conversations_path(sender_id: current_user.id, recipient_id: user.id), method: 'post' do %>
              <span class="icon is-medium"><i class="fa fa-envelope"></i></span>
              <% end %>
            </a>
          </div>
        </div>
      </div>
      <% end %>
      <% end %>
    </div>

  </div>
</div>
</section>




</body>
<!--


<div class="ui segment">
<h3>All Users</h3>
<div class="ui list">
<% @users.each do |user| %>
<% if user.id != current_user.id %>
<div class="item">
<%= user.name %> <%= link_to 'Message me!', conversations_path(sender_id: current_user.id, recipient_id: user.id), method: 'post'%>
<%= %>
</div>
<% end %>
<% end %>
</div>
</div> -->
