<!DOCTYPE html>
<html>
<head>
  <title>Binder</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <section class="hero is-danger is-left is-bold ">
    <div class="hero-header">
      <header class="header">
        <div class="container">
          <div class="header-left">
            <p class="title">
              BINDER
            </p>
            <p class="subtitle">
              Trade Stuff, locally and fast.
            </p>
          </div>
          <div class="header-right header-menu">
            <% if current_user %>
            Signed in as <strong><%= current_user.name %></strong>!
            <%= link_to "Sign out", signout_path, id: "sign_out" %>
            <% else %>
            <%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in" %>
            <% end %>
          </div>
        </div>
      </header>
    </div>

    <div class="hero-footer">
      <nav class="tabs is-boxed">
        <div class="container">
          <ul>
            <li>
              <a href="swipe/findstuff">Find Stuff</a>
            </li>
            <li>
              <a href="/items">My Items</a>
            </li>
            <li>
              <a href="/documentation/grid/">My Matches</a>
            </li>
            <li class="is-active">
              <a href="/documentation/navbar/">My Profile</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </section>




  <%= yield %>

</body>
</html>
