
<% if @over_ten %>
<%= link_to 'Show Previous', '?m=all' %>
<% end %>
​

<article class="media">
  <figure class="media-left">
    <p class="image is-64x64">
      <img src="http://www.bitrebels.com/wp-content/uploads/2011/02/Original-Facebook-Geek-Profile-Avatar-1.jpg">
    </p>
  </figure>
  <div class="media-content">
    <p class="control">
      <%= form_for [@conversation, @message], html: {class: "ui reply form"} do |f| %>
      <div class="field">
        <%= f.text_area :body, class: "textarea", :placeholder => "Send a message..." %>
      </div>
    </p>
    <%= f.text_field :user_id, value: current_user.id, type: "hidden"  %></br>
    <div class="navbar-item">
      <%= f.submit "Send Message", class: "button is-info" %>
    </div>
  </article>
  <% end %>
