<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <title>Conversation</title>


</head>
<body>
<% if @over_ten %>
<%= link_to 'Show Previous', '?m=all' %>
<% end %>
​  <div class="container">
  <h2 class="subtitle is-2"><i class="fa fa-comments-o"></i> Conversation</h2>

  <div class="columns">
    <div class="column">
      <div class="ui segment">
        <% @messages.each do |message| %>
        <% if message.body %>
        <% user = User.find(message.user_id) %>
        <div class="item">
          <div class="content">
            <div class="header"><strong><%= user.name %><strong></strong> <%= message.message_time %></div>
            <div class="list">
              <div class="item">
                <i class="right triangle icon"></i>
                <%= message.body %>
              </div>
            </div>
          </div>
        </div>
        <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<article class="media">
  <figure class="media-left">
    <p class="image is-64x64">
      <img src="http://www.bitrebels.com/wp-content/uploads/2011/02/Original-Facebook-Geek-Profile-Avatar-1.jpg">
    </p>
  </figure>
  <div class="media-content">
    <p class="control">
      <%= form_for [@conversation, @message], html: {class: "ui reply form"} do |f| %>
      <div class="field">
        <%= f.text_area :body, class: "textarea", :placeholder => "Send a message..." %>
      </div>
    </p>
    <%= f.text_field :user_id, value: current_user.id, type: "hidden"  %></br>
    <div class="navbar-item">
      <%= f.submit "Send Message", class: "button is-info" %>
    </div>
  </article>
  <% end %>
</body>
