
<% if @over_ten %>
<%= link_to 'Show Previous', '?m=all' %>
<% end %>
​
<section>
  <div class="container">
    <h1 class="title">Mailbox</h1>
    <div class="columns">
      <div class="column">
        <% @conversations.each do |conversation| %>
        <% if conversation.sender_id == current_user.id || conversation.recipient_id == current_user.id %>
        <% if conversation.sender_id == current_user.id %>
        <div class="notification is-info">
          <% recipient = User.find(conversation.recipient_id) %>
          <%= link_to recipient.name, conversation_messages_path(conversation)%>
        </div>
        <% else %>
        <div class="notification is-info">
        <% recipient = User.find(conversation.sender_id) %>
        <%= link_to recipient.name, conversation_messages_path(conversation)%>
      </div>
      <% end %>
        <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
</section>

<article class="media">
  <figure class="media-left">
    <p class="image is-64x64">
      <img src="http://www.bitrebels.com/wp-content/uploads/2011/02/Original-Facebook-Geek-Profile-Avatar-1.jpg">
    </p>
  </figure>
  <div class="media-content">
    <p class="control">
      <%= form_for [@conversation, @message], html: {class: "ui reply form"} do |f| %>
      <div class="field">
        <%= f.text_area :body, class: "textarea", :placeholder => "Send a message..." %>
      </div>
    </p>
    <%= f.text_field :user_id, value: current_user.id, type: "hidden"  %></br>
    <div class="navbar-item">
      <%= f.submit "Send Message", class: "button is-info" %>
    </div>
  </article>
  <% end %>
